@{
    ViewData["Title"] = "Home";
}
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="text-right pt-5 justify-content-center">
    <h1 class="display-8">Welcome</h1>
    <p >Hi, Welcome to SpaceHub: Your Smart Cubicle Booking Solution Customer pages</p>
    <p>
        At SpaceHub, we believe in making your office space as efficient and flexible as possible.<br>
        Whether you’re managing a hybrid workforce or simply need a way to optimize your office layout,<br>
        our cubicle booking system is designed to meet your needs.
    </p>

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Booking" asp-action="Upsert" class="btn btn-primary">  Instant Booking >></a>
            </li>
        }
        else
        {
           
            <li class="nav-item">
                <p class="mt-3 mb-1">Login to continue</p>
                <a class="btn btn-primary w-25 " id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>
</div>
