@model User
@{
    ViewData["title"] = "Create User";
}

<div class="card shadow border-0 m-4">
    <div class="card-header bg-primary ml-0 pt-3">
        <div class="row">
            <div class="col-12 text-center">
                <h4 class="text-white ">Create User</h4>
            </div>
        </div>
    </div>
   <div class="card-body p-2">
    <form method="post" class="pt-0 ">
      <div class="px-4 mt-2">
       
        <div class="mb-1 row p-1">
            <label asp-for="Id"></label>
            <input asp-for="Id" class="form-control p-1" />
            <span asp-validation-for="Id" class="text-danger"></span>

        </div>
        <div class="mb-1 row p-1">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control p-1" />
            <span asp-validation-for="Name" class="text-danger"></span>

        </div>
        <div class="mb-1 row p-1">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control p-1" />
            <span asp-validation-for="Email" class="text-danger"></span>

        </div>
       
        <div asp-validation-summary="All"></div>
        <div class="row my-3">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn  btn-outline-primary   form-control">Create</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="User" asp-action="Index" class="btn btn-outline-primary border form-control">Back to List</a>

            </div>
        </div>


     </div>
  </form>
 </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}