@{
    ViewData["Title"] = "Home";
}

<div class="text-right pt-5 justify-content-center">
    <h1 class="display-8">Welcome</h1>
    <p >Hi, Welcome to SpaceHub: Your Smart Cubicle Booking Solution Admin pages</p>
    <p>
        At SpaceHub, we believe in making your office space as efficient and flexible as possible.<br>
        Whether you’re managing a hybrid workforce or simply need a way to optimize your office layout,<br>
        our cubicle booking system is designed to meet your needs.
    </p>
</div>
